<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3> <a href="/memo/top">メインへ戻る</a></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo/add" method="post">
        <p>種別<input type="text" name="kind"></p>
        <p>ランク<select name="jpgpath" id="jpgpath">
          <option value="1">ランク１</option>
          <option value="2">ランク２</option>
          <option value="3">ランク３</option>
          </select></p>

        <p>メモ内容</p>  
        <p></p><textarea name="text" ROWS=10 COLS=50></textarea></p>
        <input type="submit" value="追加ボタン">
      </form>
    </div>
  </body>
  </html>