<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo/delall" method="post">
        <input type="submit" value="全削除実行">
      </form>
    </div>
  </body>
  </html>