<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo">
        <input type="submit" value="全レコード表示">
      </form>
      <form action="/memo/add" >
        <input type="submit" value="レコード追加　">
      </form>
      <form action="/memo/selkind" >
        <input type="submit" value="種別検索　　　">
      </form>
      <form action="/memo/word" >
        <input type="submit" value="ワード検索　　">
      </form>
      <form action="/memo/delall" >
        <input type="submit" value="全レコート削除">
      </form>
    </div>
  </body>
  </html>