<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo" method="get">
        <input type="submit" value="表示へ">
      </form>
      <form action="/memo" method="post">
        <input type="submit" value="メニューへ">
      </form>
    </div>
  </body>
  </html>