<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo" method="get">
        <input type="submit" value="次へ">
        
      </form>
    </div>
  </body>
  </html>