<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3> <a href="/memo/top">メインへ戻る</a></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo/word" method="post">
        <p>ワード<input type="text" name="kind"></p>
        <input type="submit" value="選択表示">
      </form>
    </div>
  </body>
  </html>